<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% block prevImg %}{{prevImg}}{% endblock prevImg %}" />
    <title>{% block title %}V Downloader | Youtube video downloader{% endblock title %}</title>
    <meta name="description" content="{% block desc %}Download youtube videos and thumbnails{% endblock desc %}"">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    {% block css %}{% endblock css %}
</head>
<body class="bg-gray-100">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <!-- <div class="myalert {{category}}" data-aos="fade-down" data-aos-duration="300">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">X</span>
                    <p class="myText">{{ message | safe }}</p>
                </div> -->
                <div id="toast-{{category}}" class="flex items-center fixed top-4 right-4 w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
                    {{ g.svg.get(category) | safe}}
                    <div class="ms-3 text-sm font-normal">{{message}}</div>
                    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-{{category}}" aria-label="Close">
                        <span class="sr-only">Close</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <nav class="bg-white shadow">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <div class="flex-shrink-0 flex items-center">
                        <!-- <i class="fas fa-cloud-download-alt text-xl text-gray-800"></i> -->
                        <img src="/static/favicon.ico" class="max-w-8" alt="" srcset="">
                        <a href="/" class="decoration-none">
                            <h1 class="ml-3 text-lg font-semibold text-gray-800" id="nav_title">V Downloader</h1>
                        </a>
                    </div>
                </div>
                <div class="flex gap-4">
                    <div class="hidden md:flex items-center space-x-1">
                        <a href="/" class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-100">Home</a>
                        <!-- <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-100">About</a> -->
                    </div>
                    <div class="flex items-center">
                        <button id="theme-toggle" class="text-gray-600 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-500 ease-in-out">
                            <i class="fas fa-moon"></i>
                        </button>
                    </div>
                    <div class="flex items-center md:hidden">
                        <button id="mobile-menu-button" class="mobile-menu-button">
                            <i class="fas fa-bars fa-2x text-gray-800"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="md:hidden">
            <div id="mobile-menu" class="px-2 pt-2 pb-3 space-y-1 sm:px-3 hidden">
                <a href="/" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-100">Home</a>
                <!-- <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-100">About</a> -->
            </div>
        </div>
    </nav>

    <main class="mt-10">
        {% block main %}{% endblock main %}
    </main>

    <footer class="bg-white shadow mt-10">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="py-8 flex justify-center items-center">
                <p class="text-gray-600 text-sm text-center">© 2023 V Downloader. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script src="/static/js/theme.js"></script>
<script src="/static/js/menu.js"></script>
{% block js %}{% endblock js %}
</html>