{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/dl.css">
{% endblock css %}

{% block main %}
<div id="mainContent" class="my-5">
    <div id="thumbnailBox">
        {% if info.get("embed_url") %}
        <iframe id="iframe" src="{{info.get('embed_url')}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        {% else %}
        <img src="{{imgSrc}}" alt="thumbnail image" id="thumbnail-main">
        {% endif %}
    </div>
    <div class="detailsWrapper">
        <h1 class="title myText">{{ info.get("title") }}</h1>
        <p class="myText"><strong>Duration</strong> {{ info.get("duration") }}</p>
        <div class="btnBox">
            <a class="btn btn-light" href={{imgSrc}} target="_blank">
                <i class="fa-solid fa-cloud-arrow-down"></i>
                <span>Download Thumbnail</span>
            </a>
        </div>
        <div id="loaderBox">
            <lottie-player src="https://lottie.host/357e594f-09d0-48cc-ae41-1c04b33a3b8e/CSB0vKrRqv.json" background="#00000000" speed="1" style="width: 100px;" loop autoplay direction="1" mode="normal"></lottie-player>
            <p class="myText loadingMsg">Loading download options..</p>
        </div>
    </div>
</div>
{% endblock main %}

{% block js %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script>
    let btnBox = document.querySelector("#mainContent .detailsWrapper .btnBox");
    let link = "{{link}}";
    let loaderBox = document.getElementById("loaderBox");

    function createButton(data){
        let button = document.createElement("a");
        button.setAttribute("class", "btn btn-success");
        button.setAttribute("target", "_blank");
        // button.setAttribute("href", `/dl?link=${data["dl_link"]}&res=${data['res']}`);
        button.setAttribute("href", data["dl_link"]);
        button.innerHTML = `<i class="fa-solid fa-cloud-arrow-down"></i>
        <span>Download MP4 ${data['res']} ${data['filesize']} MB</span>`;
        btnBox.appendChild(button);
    }

    fetch(`/streams?link=${link}`,
    { 
        method: "GET",
        headers: { Accept : "application/json" }
    }
    ).then((response)=>{ 
    return response.json().then((jsonResponse)=>{
        loaderBox.style.display = "none";
        let list = jsonResponse["list"]
        list.forEach(item => {
            createButton(item);
        });
    })
})
</script>
{% endblock js %}